.hero {
    background-color: #c4c4c4;
    background-image: linear-gradient(
      to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  text-align: center;
}
.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: $background-color;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
