.team__title {
    @extend .work__title
}
.team {
  background-color: $button-background;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.team__position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__member {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.team__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.team__item {
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(15, 14, 14, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  text-align: center;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 32px;
  margin-left: 32px;
  list-style: none;
}
.actions-footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  width: 206px;
  height: 44px;
  list-style: none;
}
.link > .link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.link > .link-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link > .link-icon:hover,
.link > .link-icon:focus {
  color: white;
  background-color: $accent-text-color;
  border-radius: 50%;
}
.link > .link-icon {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link > .link-icon > :hover,
.link > .link-icon:focus {
  color: #ffffff;
}

.link > .link-icon-footer:hover,
.link > .link-icon-footer:focus {
  color: white;
  background-color: $accent-text-color;
  border-radius: 50%;
}
.link > .link-icon-footer {
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link > .link-icon-footer > :hover,
.link > .link-icon-footer:focus {
  color: #ffffff;
}
.master-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.master-icon-footer {
  width: 20px;
  height: 20px;
  fill: $background-color;
}